<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录-sql注入2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        .form-control{
            width: 100%;
        }
        .error{
            color:red;
        }
    </style>
</head>

<body>
<body>
<div class="container">
    <div class="row clearfix" style="width: 400px;margin: 30px auto;">
        <h3 th:text="${title}"></h3>
        <br>
        <span class="error" th:text="${error}"></span>
        <br>
        <br>
        <div class="col-4 column">
            <form role="form" method="POST" th:action="@{/login2}" th:object="${user}">

                <label for="email">Email</label><input type="text" placeholder="email" class="form-control" id="email" th:field="*{email}" />
                <br>
                <label for="password">Password:</label><input type="password" placeholder="password" class="form-control" id="password" th:field="*{password}" />
                <br>
                <input class="btn btn-default" th:type="submit" th:value="登录">
            </form>

        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>